<h1 align="center"><font color="pink">POO with Python</font></h1>

<font color="yellow">Data Scientist.: Dr. Eddy Giusepe Chirinos Isidro</font>

# <font color="gree">Exemplos POO</font>

In [1]:
# Exemplo 1:

class Phone:
    def make_call(self):
        print("Eu estou fazendo uma ligação")
    
    def play_game(self):
        print("Eu estou jogando um jogo")

In [2]:
meu_fone = Phone()

meu_fone.make_call()

Eu estou fazendo uma ligação

In [3]:
meu_fone.play_game()

Eu estou jogando um jogo

In [8]:
# Exemplo 2:

class Phone:
    def definir_cor(self, cor):
        self.cor = cor
    def definir_custo(self, custo):
        self.custo = custo
    def mostrar_cor(self):
        return print(f"A cor é: {self.cor}")
    def mostrar_custo(self):
        return self.custo
    def fazer_chamada(self):
        print("Faça uma chamada")
    def jogar_um_jogo(self):
        print("Jogar um jogo")

In [9]:
telefone = Phone()

telefone.definir_cor("blue")

telefone.definir_custo(5000)

In [10]:
telefone.mostrar_cor()

A cor é:  blue

In [11]:
telefone.mostrar_custo()

5000

In [12]:
telefone.fazer_chamada()

Faça uma chamada

In [14]:
# Exemplo 3:

class Employee:
    def __init__(self, name, age, salary, gender):
        self.name = name
        self.age = age
        self.salary = salary
        self.gender = gender

    def show_employee_details(self):
        print(f"Nome do empleado é: {self.name}")
        print(f"Idade do empleado é: {self.age}")
        print(f"Salário do empleado é: {self.salary}")
        print(f"Gênero do empleado é: {self.gender}")

In [15]:
# Instanciamos a nossa Classe:
employee = Employee("Eddy", 42, 8000, "Masculino")


employee.show_employee_details()

Nome do empleado é: Eddy
Idade do empleado é: 42
Salário do empleado é: 8000
Gênero do empleado é: Masculino

In [16]:
# Exemplo 4:

class Vehicle:
    def __init__(self, mileage, cost):
        self.mileage = mileage
        self.cost = cost

    def show_vehicle_details(self):
        print(f"Qilometragem do veículo é: {self.mileage}")
        print(f"Costo do veículo é: {self.cost}")
        print("Eu sou um veículo")

In [18]:
vehicle = Vehicle(600, 20000)

vehicle.show_vehicle_details()

Qilometragem do veículo é: 600
Costo do veículo é: 20000
Eu sou um veículo

In [19]:
class Car(Vehicle):
    def show_car_details(self):
        print("Eu sou um carro")

In [20]:
carro = Car(450, 15000)

In [21]:
carro.show_vehicle_details()

Qilometragem do veículo é: 450
Costo do veículo é: 15000
Eu sou um veículo

In [22]:
carro.show_car_details()

Eu sou um carro

# <font color="gree">Exemplos com Pandas</font>

Link de estudo:

* [YouTube: ITLearnz](https://www.youtube.com/watch?v=JGe2QzihPr4&list=PLVSfefc9Rj3cOiu6RVsyt1KRGuD8mK58w&index=3)

In [1]:
from IPython.display import display 
import pandas as pd 
import numpy as np

In [2]:
pd.set_option("display.max_rows", None)

In [3]:
df = None

In [6]:
minVotes = None
def readFile(path):
    global df
    df = pd.read_csv(path)


def cleanDataset():
    global df
    df = df.drop(["year"], axis=1)
    df = df.drop(["certificate"], axis=1)
    df = df.drop(["duration"], axis=1)
    df = df.drop(["description"], axis=1)
    df = df.drop(["stars"], axis=1)
    df = df.drop_duplicates(subset=["title"])

    df["votes"] = df["votes"].str.replace(',', '').astype(float)
    df = df.fillna(0)


def filterGenre(genre):
    global df
    df = df[df["genre"].str.contains(genre, case=False).fillna(False)]
    


def threshVotes(thrs):
    global df
    global minVotes
    minVotes = np.quantile(df["votes"], thrs)
    df = df.drop(df[df.votes<minVotes].index)


def weightedAvgScore():
    global df
    weightedAvg = []
    mean = df['rating'].mean()
    df = df.reset_index(drop=True)


    for i in range(0, len(df["rating"])):
        res = (df['votes'][i]/(df['votes'][i]+ minVotes)*df["rating"][i]) + (minVotes/(df["votes"][i]+minVotes))*mean
        weightedAvg.append(res)
    df["weightedAvg"] = weightedAvg


def sortNscores(n):
    sort = df.sort_values("weightedAvg", ascending=False).head(n)
    display(sort)


# Função que executa tudo:
def runRecommenderSystem(genre, votesThrs, numberOfReturnedData):
    readFile("./n_movies.csv") # Dataset --> https://www.kaggle.com/datasets/narayan63/netflix-popular-movies-dataset
    cleanDataset()
    filterGenre(genre)
    threshVotes(votesThrs)
    weightedAvgScore()
    sortNscores(numberOfReturnedData)

In [8]:
import warnings
warnings.filterwarnings("ignore")


runRecommenderSystem("Drama", 0.8, 20)

,title,genre,rating,votes,weightedAvg
4,Breaking Bad,"Crime, Drama, Thriller",9.5,1831340.0,9.475954
53,Sherlock,"Crime, Drama, Mystery",9.1,913816.0,9.060775
33,The Lord of the Rings: The Return of the King,"Action, Adventure, Drama",9.0,1819157.0,8.981160
167,Death Note,"Animation, Crime, Drama",9.0,316300.0,8.896898
2,Better Call Saul,"Crime, Drama",8.9,501384.0,8.837303
36,Fargo,"Crime, Drama, Thriller",8.9,369918.0,8.816149
9,The Lord of the Rings: The Fellowship of the Ring,"Action, Adventure, Drama",8.8,1844055.0,8.783529
41,The Lord of the Rings: The Two Towers,"Action, Adventure, Drama",8.8,1642708.0,8.781534
498,Leyla and Mecnun,"Adventure, Comedy, Drama",9.1,93632.0,8.776980
23,Black Mirror,"Drama, Mystery, Sci-Fi",8.8,535782.0,8.744737
7,Peaky Blinders,"Crime, Drama",8.8,531058.0,8.744263
75,Narcos,"Biography, Crime, Drama",8.8,416307.0,8.729595
355,Kota Factory,"Comedy, Drama",9.1,71138.0,8.697019
5,Stranger Things,"Drama, Fantasy, Horror",8.7,1149889.0,8.675440
274,When They See Us,"Biography, Crime, Drama",8.9,119339.0,8.665066
54,Dexter,"Crime, Drama, Mystery",8.7,720792.0,8.661208
112,Twin Peaks,"Crime, Drama, Mystery",8.8,196192.0,8.657823
102,House of Cards,Drama,8.7,500982.0,8.644833
31,Dark,"Crime, Drama, Mystery",8.7,371981.0,8.626665
60,BoJack Horseman,"Animation, Comedy, Drama",8.8,152649.0,8.621910